html {
  font-size: 14pt;
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: rgb(17, 24, 39);
  color: white;
}

a, button {
  text-decoration: inherit;
  color: inherit;
}

a {
  text-decoration: underline;
}

a:hover {
  color: inherit;
}
